<nav class="site-nav" aria-label="Navegação Principal">

  <a class="logo btn" href="/index.html" aria-label="Logotipo do site">
    <img src="/src/logo/logo_def1.svg" alt="Hiit-Gym">
  </a>

  <details class="mobile-nav">
    <summary class="hamburger btn" aria-label="Abrir menu">
      <span></span>
      <span></span>
      <span></span>
    </summary>
  </details>

  <div class="nav-content glass">
    <div class="menu">
      <a class="link-btn" href="/#sobre">sobre</a>
      <a class="link-btn" href="/modalidades/modalidades.html">modalidades</a>
      <a class="link-btn" href="/#planos">planos</a>
      <a class="link-btn" href="/#equipa">equipa</a>
      <a class="link-btn" href="/#contactos">contactos</a>
      <a class="link-btn" href="/blog/blog.html">blog</a>
    </div>

    <span class="nav-separator"></span>

    <div class="login-sign_up" id="nav-auth">
      <a class="link-btn" id="nav-login" href="#">login</a>
      <a class="link-btn" id="nav-signup" href="#">signup</a>

      <a class="nav-user-avatar hidden" href="/user/user.html" id="nav-avatar">
        <div class="coach-avatar" id="nav-avatar-img"></div>
      </a>
    </div>
  </div>

</nav>
