<nav aria-label="Navegação Principal" class="site-nav">
  <a class="logo btn" href="/" aria-label="Logotipo do site">
    <img src="/src/logo/logo_def1.svg" alt="HIIT-Gym">
  </a>

  <details class="mobile-nav">
    <summary class="hamburger btn" aria-label="Abrir menu">
      <span></span><span></span><span></span>
    </summary>
  </details>

  <div class="nav-content glass">
    <div class="menu" aria-label="Páginas do site">
      <a class="link-btn" href="/#sobre">sobre</a>
      <a class="link-btn" href="/modalidades/modalidades.html">modalidades</a>
      <a class="link-btn" href="/#planos">planos</a>
      <a class="link-btn" href="/#equipa">equipa</a>
      <a class="link-btn" href="/#contactos">contactos</a>
      <a class="link-btn" href="/blog/blog.html">blog</a>
    </div>

    <span></span>

    <!-- AUTH -->
    <div class="login-sign_up" id="nav-auth">
      <!-- NÃO autenticado -->
      <a class="link-btn" id="nav-login"  href="/index.html">login</a>
      <a class="link-btn" id="nav-signup" href="/index.html">signup</a>

      <!-- Autenticado -->
      <a class="nav-user-avatar hidden"
         href="/user/user.html"
         id="nav-avatar"
         aria-label="O meu perfil">
        <div class="coach-avatar" id="nav-avatar-img"></div>
      </a>
    </div>
  </div>
</nav>